 {{#if exist}}
<table>
   
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>DESCRIPCION</th>
        <th>PRECIO</th>
    </tr>
    {{#each info}}
    <tr>
        <th>this.id</th>
        <th>this.name</th>
        <th>this.descripcion</th>
        <th>this.precio</th>
    </tr>
</table>
  {{/if}}
  <div>No hay ningun registro</div>