<form action="">
    <input type="text" name="name" id="">
    <input type="text" name="descripcion" id="">
    <input type="text" name="precio" id="">
    <input type="file" name="imagen" id="">
    <input type="submit" value="ENVIAR">
</form>